# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
env/
venv/
ENV/
VENV/
*.egg-info/
dist/
build/
*.egg

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Mac
.DS_Store

# Logs
*.log

# Environment variables
.env
.env.*

# Test and coverage
.coverage
htmlcov/
.tox/
.pytest_cache/

# Others
*.sqlite3
*.db
*.bak
*.swp
*.swo